{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}


{% block stylesheets %}{{parent()}}{% endblock %}

{% block body %}
  <div class = "title-wrapper">
    <h1>Liste des catégories</h1>
  </div>
  <a href="{{ path('home') }}">Home page</a>
  <a href="{{ path('addCategory') }}"> Add category</a>
  {% for category in categories %}
    <h2>{{category.getWording}}</h2>
    <a href="{{ path('editCategory', {'id': category.getId() }) }}" class="btn btn-danger">Edit category</a>
    <a href="{{ path('deleteCategory', {'id': category.getId() }) }}" class="btn btn-danger">Delete category</a>
  {% endfor %}
{% endblock %}
