{% extends 'base.html.twig' %}


{% block title %}{{parent()}}{% endblock %}

{% block stylesheets %}{{parent()}}{% endblock %}

{% block body %}
  <div class="example-wrapper">
      <h1>Bienvenue sur l application MyNotes !</h1>
  </div>
  <a href="{{ path('displayCategories') }}">Display all categories</a>
  <a href="{{ path('addCategory') }}" >Add category</a>
  <a href="{{ path('noteMain') }}" >Add note</a>
  <form>
    <input type="text" name="tagSearch" method="post">
  </form>
  {% for note in notes %}
    <div class="title-wrapper">
      <h2>{{note.getTitle}}</h2>
      <p>{{note.getCategory}} - {{note.getDate()|date('Y-m-d')}}</p>
      <div class="contenue-wrapper">
        <p>{{note.getContent}}</p>
      </div>
    </div>
    <a href="{{ path('editNote', {'id': note.getId() }) }}" class="btn btn-primary">Edit note</a>
    <a href="{{ path('deleteNote', {'id': note.getId() }) }}" class="btn btn-danger">Delete note</a>
  {% endfor %}
{% endblock %}
