{% extends 'base.html.twig' %}


{% block title %}{{parent()}}{% endblock %}

{% block stylesheets %}
  <style>
      .title-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 10px/1.5 sans-serif; }
      .title-wrapper { background: #9494b8; padding: 2px 6px; }

      .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 10px/1.5 sans-serif; }
      .example-wrapper { background: #D0F0F2; padding: 2px 6px; }

      .contenue-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 10px/1.5 sans-serif; }
      .contenue-wrapper { background: #cccccc; padding: 2px 6px; }
  </style>
{% endblock %}

{% block body %}
  <div class="example-wrapper">
      <h1>Bienvenue sur l'application MyNotes !</h1>
  </div>
  {% for note in notes %}
    <div class="title-wrapper">
      <h2>{{note.getTitle}}</h2>
      <p>{{note.getCategory}} - {{note.getDate}}</p>
      <div class="contenue-wrapper">
        <p>{{note.getContent}}</p>
      </div>
    </div>

  {% endfor %}
{% endblock %}
